@font-face{
    font-weight:400; /*насыщенность шрифта*/
    font-style:normal; /*начертание шрифта (курсив наклон или обычный) */
    font-family:"Arial";
    font-display: swap; /*позволяет сразу загрузить текст как он есть, а после загрузки шрифта свапнит его*/
    src:
        local("Arial Regular"), /*если этот шрифт есть у браузера то он использует его*/
        url("../fonts/ArialMT.woff2") format("woff2"),
        url("../fonts/ArialMT.woff") format("woff");
}


@font-face {
    font-weight:600;
    font-style:normal;
    font-family: "Arial";
    font-display: swap;
    src: 
        local("Arial Bold"),
        url("../fonts/Arial-BoldMT.woff2") format("woff2"),
        url("../fonts/Arial-BoldMT.woff") format("woff");
}